<!DOCTYPE html>
<html>
	<head>
		<base target="_top" />

		<!-- Include the Google Add-on stylesheet -->
		<link
			rel="stylesheet"
			href="https://ssl.gstatic.com/docs/script/css/add-ons.css"
		/>

		<style>
			p {
				font-size: large;
			}
		</style>
	</head>

	<body>
		<!-- TODO: set the full path to the extension docs -->
		<p>
			To read the documentation of this extension, go to
			<a href="https://muse-docs.lighton.ai/bla/bla">
				muse-docs.lighton.ai </a
			>.
		</p>
	</body>
</html>
