<!DOCTYPE html>
<html>
	<head>
		<base target="_top" />

		<!-- Include the Google Add-on stylesheet -->
		<link
			rel="stylesheet"
			href="https://ssl.gstatic.com/docs/script/css/add-ons.css"
		/>

		<!-- Expand the select item to take as much place as possible -->
		<style>
			#choice {
				width: 200px;
				text-align: start;
			}
		</style>
	</head>

	<script>
		function submit() {
			const choice = document.getElementById('choice').value;
			google.script.run
				.withSuccessHandler(onSuccess)
				.innerSelectModel_(choice);
		}

		function onSuccess() {
			google.script.host.close();
		}
	</script>

	<body onsubmit="submit()">
		<form>
			<select id="choice">
				<option value="orion-fr">orion-fr</option>
				<option value="lyra-fr">lyra-fr</option>
				<option value="orion-en">orion-en</option>
				<option value="lyra-en">lyra-en</option>
				<option value="auriga-de">auriga-de</option>
				<option value="auriga-es">auriga-es</option>
				<option value="auriga-it">auriga-it</option>
			</select>
			<input type="submit" value="Select" />
		</form>
	</body>
</html>
